.title{
    text-align: center;
    font-size: 28px;
    color: #00BFFF;
}

/* Contenedor general de la grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 0 12px;
}

/* Card individual */
.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 100%;
  max-width: 220px;
  margin: 0 auto;
  cursor: pointer;
}

/* Imagen dentro de la card */
.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
  margin-bottom: 12px;
}

/* Texto en negro */
.card p {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
  color: #000;
}

/* Hover effect */
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

/* Responsive adicional para móviles */
@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .card {
    max-width: 90%;
  }
}

/* ------------------- */
/* Modal Admin */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  min-width: 300px;
  text-align: center;
}

.input {
  padding: 6px 10px;
  font-size: 1rem;
  margin-right: 8px;
}

.saveBtn {
  padding: 6px 12px;
  margin-top: 8px;
  cursor: pointer;
}

.cancelBtn {
  padding: 6px 12px;
  margin-top: 4px;
  cursor: pointer;
}

/* ------------------- */
/* Contenedor seleccionados */
.selectedContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f0f0f0; /* gris claro */
  padding: 8px 12px;
  max-height: 150px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #000;
  z-index: 999;
}

.selectedContainer * {
  color: #000 !important;
}

.selectedHeader {
  font-weight: bold;
  margin-bottom: 4px;
}

.selectedList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.selectedItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 6px 10px;
  border-radius: 8px;
}

.selectedItem button {
  background: #ff5757;
  border: none;
  color: #fff;
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
}
